.header {
	margin: 0px;
	padding: 0px;
	color: $white;
	background-color: $darkgrey;
	background-image: url("../img/image(29).jpeg");
	background-position: center;
	width: 100%;
	height: 400px;
		section{
			height: 200px;
			width: 70%;
			padding: 250px 110px 50px 75px;
		}
}
