section.display{
	width: 1000px;
	height: 600px;
	margin: auto;
}
img{
	width: 1000px;
	height: 600px;
	display: none;
}
.arrowr, .arrowl{
	cursor: pointer;
}
.arrowr:hover, .arrowl:hover{
	-webkit-animation: fade 1s forwards;
	animation: fade 1s forwards;
}
.arrowr{
	float: right;
	font-size: 40px;
}
.arrowl{
	float: left;
	font-size: 40px;
}

@-webkit-keyframes fade{
	from{color: #000;}
	to{color: #d3d3d3;}
}
@keyframes fade{
	from{color: #000;}
	to{color: #d3d3d3;}
}